:root{
    --accent-color: hsl(209, 55%, 56%);
    --main-font: 'Gotham Pro', sans-serif;
    --white-color: white;
    --grey-color: #707070;
    --red-color: #74373b;
    --purple-color: #33338e;
    --bg-color: #e6e6e6;
    --main-grad: linear-gradient(90deg, rgba(51,51,142,1) 0%, rgba(78,144,204,1) 100%);
    --green-color:#3cd63a;
}
.chats-block__pic img{
    min-width: 85px;
    min-height: 85px;
    max-width: 115px;
    max-height: 115px;
}
.chats-block__pic{
    height: 85px;
    width: 85px;
    border-radius:50%;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.chats-block{
    display: flex;
    border-bottom: 2px solid var(--bg-color);
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: black;
}
.chats-block:not(:first-child){
    margin-top: 18px;
}
.chats-block:hover{
    border-bottom: 2px solid var(--purple-color);
}
.chats-block:hover .chats-block__pic{
 transform: scale(1.03,1.03);
}
.chats-block__text{
    padding-left: 16px;
    
}
.chats-block__name h3{
    font-size: 23px;
    font-weight: 500;
}
.chats-block__lastmes{
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    height: 28px;
    display: flex;
    align-items:center;
    margin-bottom: 6px;
}
.chats-block__date time{
    font-size: 16px;
    font-weight: 700;
    color: var(--accent-color);
}
.messager__top .chats-block{
    cursor:default;
    align-items:center;
}
.messager__top .chats-block__pic img{
    min-width: 60px;
    min-height: 60px;
    max-width: 85px;
    max-height: 85px;
}
.messager__top .chats-block__pic{
    height: 60px;
    width: 60px;

}
.messager__top .chats-block__name h3{
    font-size: 21px;
    font-weight: 500;
}
.chats-block__lastmes a{
    font-size: 17px;
}
.chats-block__lastmes a:hover{
    text-decoration: underline;
}
.messager__wrap{
    position: relative;
    overflow: hidden;
}
.messager__back a{
    font-size: 16px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 0px;
    left:0px;
    background-color:var(--purple-color);
    height: 25px;
    width: 90px;
    padding-left: 6px;
    padding-top: 5px;
    border-bottom-right-radius:10px;
    cursor: pointer;
    transition: 0.25s;
}
.messager__back svg{
    width: 11px;
    fill: white;
    opacity: 0;
    transform: rotate(180deg);
    transition: 0.15s;
}
.messager__back a:hover svg{
    opacity: 1;
    margin-right: 5px;
}
.messager__chat{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}
.messager__chat-mes{
    background-color:#f9f9f9;
    border-radius: 5px;
    max-width: 450px;
    font-size: 16px;
    padding: 8px 6px;
}
.messager__chat-mesAnc{
    background-color:#f9f9f9;
    border-radius: 5px;
    max-width: 520px;
    font-size: 16px;
    padding: 20px 15px;
}
.messager__chat-mes-me{
    border: 2px solid var(--accent-color);
    float: right;
}
.messager__chat-mes-user{
    border: 2px solid var(--purple-color);
    float: left;
}
.messager__chat-block{
    padding-top: 15px;
    clear:both;
    padding-right: 13px;
}
/* хром, сафари */


.messager__chat::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
  .messager__chat::-webkit-scrollbar-track {
    background: white;        /* цвет дорожки */
  }
  .messager__chat::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid white;  /* padding вокруг плашки */
    left: 10px;
  }


/* ie 10+ */
.messager__chat { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.messager__chat { overflow: -moz-scrollbars-none; }

.messager__control{
    padding-top: 20px;
    border-top: 2px solid var(--bg-color);
}
.messager__control-content textarea{
    resize: none;
    width: 100%;
    height: 46px;
    padding: 4px 105px 4px 5px;
    border-radius: 5px;
    border: 1px solid var(--purple-color);
    font-size: 16px;
    background-color:#f9f9f9;
}
.messager__control-content{
    position: relative;
    overflow: hidden;
    height: 46px;
}
.messager__control-sercl{
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(10%,-30%);
    background-color: var(--purple-color);
    z-index: 3;
}
.messager__control-svg{
    top: 9px;
    position: absolute;
    width: 20px;
    z-index: 4;
    fill: white;
    cursor: pointer;
    transition: 0.2s;
}
.messager__control-send{
    right: 25px;
}
.messager__control-send svg{
    width: 30px;
    height: 30px;
}
.messager__control-add{
    right: 70px;
  
}
.messager__control-add svg{
    width: 25px;
    height: 30px;
}
.messager__control-svg:hover{
    fill: var(--accent-color);
}
.messager-full{
    margin-left: 10px;
}
.messager-full button{
    color: white;
    padding: 3px 10px 5px 10px;
    background-color: var(--purple-color);
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    transition: 0.2s ease-in-out;
}
.messager-full .mesBtnSelect{
    background-color:var(--accent-color);
}
.messager-full button:hover{
    background-color:var(--accent-color);
}
.popup__service-wrap{
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items:center;
    display:none;
    z-index: 50;
}
.popup__service-content{
    background-color: white;
    max-width: 900px;
    width: 100%;
    height:min-content;
    border-radius: 10px;
    position: relative;
    padding: 25px;
    padding-top: 45px;
}
.popup__service-exit svg{
    width: 30px;
    fill: var(--accent-color);
    position:absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.popup__service-title{
    max-width: 300px;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 10px;

}
.popup__service-title h2{
    font-size: 23px;
    font-weight: 500;
    position: absolute;
    left: 15px;
    top:13px;
}
.popup__service-form{
    padding-top: 10px;
}
.popup__service-form input{
    font-size: 17px;
    font-weight: 400;
    border: none;
    background: none;
    border: 2px solid var(--accent-color);
    
    height: 31px;
    border-radius: 5px;
    padding: 8px 10px
}
.popup__service-inpTitle{
    max-width: 300px;
    width: 100%;
}
.popup__service-inpPrice{
    max-width: 120px;
    width: 100%;
    margin-left: 11px;
    margin-right: 7px;
}
.popup__service-formTop{
    display: flex;
    align-items: center;
    padding-bottom: 20px
}
.popup__service-formTop p{
    font-size: 17px;
    color: var(--accent-color);
}
.popup__service-formMidle select{
    font-size: 17px;
    font-weight: 400;
    border: none;
    background: none;
    border: 2px solid var(--accent-color);
    width: 250px;
    height: 31px;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}
.popup__service-formMidle{
    display: flex;
    padding-bottom: 20px;
}
.popup__service-formEvryWeek{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.popup__service-weekDay{
    background: var(--main-grad);
    padding: 6px 12px;
    color:white;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.55;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.popup__service-weekDay:hover{
    opacity: 1;
}
.popup__service-weekDay:active{
    opacity: 1;
}
.popup__service-weekDay-active{
    opacity: 1;
}
.popup__service-formComment textarea{
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    width: 100%;
    resize: none;
    height: 150px;
    padding: 5px;
}
.popup__service-formComment{
    padding-bottom: 20px;
}
.popup__service-weekDay input[type="time"]{
    background: white;
    padding: 0px;
    padding-left: 5px;
    width: 105px;
    font-size: 14px;
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
}
.popup__service-weekDay:focus{
    opacity: 1;
}
.popup__service-formBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px
}
.popup__service-formBottom p{
    font-size: 17px;
    color: var(--accent-color);
    margin-left: 7px;
    margin-right: 15px;
}
.popup__service-duration{
    display: flex;
    align-items: center;
}
.popup__service-inpduration{
    width: 70px;
}
.popup__service-btn{
    height: 31px;
    padding: 0 15px;
    border-radius: 5px;
    background:var(--purple-color);
    color:white;
}
.popup__service-formKid{
    padding-bottom: 20px;
}
.popup__service-inpduration{
    font-size: 17px;
    font-weight: 400;
    border: none;
    background: none;
    border: 2px solid var(--accent-color);
    
    height: 31px;
    border-radius: 5px;
    padding: 8px 10px
}
.quesList-block{
    padding-bottom: 20px;
    border-bottom: 0px solid transparent;
}
.service__title h2{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 3px;
}
.service__type p{
    color: var(--accent-color);
    font-size: 22px;
    padding-bottom: 20px;
}
.service__subtitle h3{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 7px;
}
.service-sec{
    padding-bottom: 5px;
    font-size: 17px;
}
.service-sec span{
    color: var(--accent-color);
    font-weight: 500;
}
.service__comment{
    padding-bottom: 25px;
}
.service__comment-item{
    padding-top: 3px;
    color:var(--grey-color);
}
.service__assept-status{
    padding: 8px 16px;
    background-color:white;
    border-radius: 7px;
    border: 2px solid var(--accent-color);
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    color: var(--accent-color);
    margin-bottom: 5px;
}
.service__assept-btn button{
    padding: 8px 20px;
    color: white;
    font-size: 16px;
    background: var(--main-grad);
    border-radius: 5px;
    transition: 0.3s;
}
.service__assept-btn button:hover{
    transform: translate(0,-3px);
}
.service__assept-btn button:last-child{
    margin-left: 15px;
}
.service__assept-btn{
    display: flex;
    justify-content: center;
}
.service__week{
    padding-bottom: 20px;
    padding-top: 7px;
}
.service__week h3{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 3px;
    color:var(--accent-color);
}
.quesList-block__author{
    padding-top: 20px;
}
.quesList-block__author a{
    font-size: 18px;
    font-weight: 500;
    
    color:var(--accent-color);
}
.quesList-block__author a:hover{
    text-decoration: underline;
}