:root{
    --accent-color: hsl(209, 55%, 56%);
    --main-font: 'Gotham Pro', sans-serif;
    --white-color: white;
    --grey-color: #707070;
    --red-color: #74373b;
    --purple-color: #33338e;
    --bg-color: #e6e6e6;
    --main-grad: linear-gradient(90deg, rgba(51,51,142,1) 0%, rgba(78,144,204,1) 100%);
    --green-color:#3cd63a;
}
.chats-block__pic img{
    min-width: 85px;
    min-height: 85px;
    max-width: 115px;
    max-height: 115px;
}
.chats-block__pic{
    height: 85px;
    width: 85px;
    border-radius:50%;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.chats-block{
    display: flex;
    border-bottom: 2px solid var(--bg-color);
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: black;
}
.chats-block:not(:first-child){
    margin-top: 18px;
}
.chats-block:hover{
    border-bottom: 2px solid var(--purple-color);
}
.chats-block:hover .chats-block__pic{
 transform: scale(1.03,1.03);
}
.chats-block__text{
    padding-left: 16px;
    
}
.chats-block__name h3{
    font-size: 23px;
    font-weight: 500;
}
.chats-block__lastmes{
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    height: 28px;
    display: flex;
    align-items:center;
    margin-bottom: 6px;
}
.chats-block__date time{
    font-size: 16px;
    font-weight: 700;
    color: var(--accent-color);
}
.messager__top .chats-block{
    cursor:default;
    align-items:center;
}
.messager__top .chats-block__pic img{
    min-width: 60px;
    min-height: 60px;
    max-width: 85px;
    max-height: 85px;
}
.messager__top .chats-block__pic{
    height: 60px;
    width: 60px;

}
.messager__top .chats-block__name h3{
    font-size: 21px;
    font-weight: 500;
}
.chats-block__lastmes a{
    font-size: 17px;
}
.chats-block__lastmes a:hover{
    text-decoration: underline;
}
.messager__wrap{
    position: relative;
    overflow: hidden;
}
.messager__back a{
    font-size: 16px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 0px;
    left:0px;
    background-color:var(--purple-color);
    height: 25px;
    width: 90px;
    padding-left: 6px;
    padding-top: 5px;
    border-bottom-right-radius:10px;
    cursor: pointer;
    transition: 0.25s;
}
.messager__back svg{
    width: 11px;
    fill: white;
    opacity: 0;
    transform: rotate(180deg);
    transition: 0.15s;
}
.messager__back a:hover svg{
    opacity: 1;
    margin-right: 5px;
}
.messager__chat{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}
.messager__chat-mes{
    background-color:#f9f9f9;
    border-radius: 5px;
    max-width: 450px;
    font-size: 16px;
    padding: 8px 6px;
}
.messager__chat-mes-me{
    border: 2px solid var(--accent-color);
    float: right;
}
.messager__chat-mes-user{
    border: 2px solid var(--purple-color);
    float: left;
}
.messager__chat-block{
    padding-top: 15px;
    clear:both;
    padding-right: 13px;
}
/* хром, сафари */


.messager__chat::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
  .messager__chat::-webkit-scrollbar-track {
    background: white;        /* цвет дорожки */
  }
  .messager__chat::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid white;  /* padding вокруг плашки */
    left: 10px;
  }


/* ie 10+ */
.messager__chat { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.messager__chat { overflow: -moz-scrollbars-none; }

.messager__control{
    padding-top: 20px;
    border-top: 2px solid var(--bg-color);
}
.messager__control-content textarea{
    resize: none;
    width: 100%;
    height: 46px;
    padding: 4px 105px 4px 5px;
    border-radius: 5px;
    border: 1px solid var(--purple-color);
    font-size: 16px;
    background-color:#f9f9f9;
}
.messager__control-content{
    position: relative;
    overflow: hidden;
    height: 46px;
}
.messager__control-sercl{
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(10%,-30%);
    background-color: var(--purple-color);
    z-index: 3;
}
.messager__control-svg{
    top: 9px;
    position: absolute;
    width: 20px;
    z-index: 4;
    fill: white;
    cursor: pointer;
    transition: 0.2s;
}
.messager__control-send{
    right: 25px;
}
.messager__control-send svg{
    width: 30px;
    height: 30px;
}
.messager__control-add{
    right: 70px;
  
}
.messager__control-add svg{
    width: 25px;
    height: 30px;
}
.messager__control-svg:hover{
    fill: var(--accent-color);
}