:root{
    --accent-color: hsl(209, 55%, 56%);
    --main-font: 'Gotham Pro', sans-serif;
    --white-color: white;
    --grey-color: #707070;
    --red-color: #74373b;
    --purple-color: #33338e;
    --bg-color: #e6e6e6;
    --main-grad: linear-gradient(90deg, rgba(51,51,142,1) 0%, rgba(78,144,204,1) 100%);
    --green-color:#3cd63a;
}

.search-panel__wrap{
    display: flex;
    align-items: center;
}
.quest-see__btn .main-btn__gra{
    padding: 0 70px;
}
.ques-see__selector{
    background-color: var(--bg-color);
    height: 40px;
    width: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    cursor: pointer;
}
.ques-see__status{
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items:center;

    color: white;
    border-radius: 10px;
    position: absolute;
    transition: 0.4s ease-in-out;
    
    top: 0;
}
.ques-see__status-yes{
    left: 100%;   
    transform: translate( -100%, 0);
    background-color: var(--accent-color);
}
.ques-see__status-no{
    left: 0; 
    background-color: var(--purple-color);
}
.ques-see__selector p::selection {
    background: transparent;
 }
 .ques-see__selector p::-moz-selection {
    background: transparent;
 }
 .ques-see__help{
     height: 24px;
     width: 24px;
     background: var(--main-grad);
     color: white;
     display: flex;
     justify-content: center;
     align-items:center;
     border-radius: 50%;
     font-weight: 500;
     cursor: pointer;
 }
 .quest-see__btn{
     margin-right: 24px;
 }
 .ques-see__selector{
     margin-right:12px ;
 }
 .quesList-block__title h2{
    font-size: 25px;
    font-weight: 500;
 }
 .quesList-block__title{
     padding-bottom: 1px;
 }
 .quesList-block__name{
     font-size: 20px;
     font-weight: 300;
     color:var(--accent-color);
     padding-bottom: 7px;
 }
 .quesList-block__desc p{
     font-size: 18px;
     color:var(--grey-color);
     padding-bottom: 12px;
     line-height: 20px;
 }
 .quesList-block__sub-title h3{
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 5px;
 }
 .quesList-block__kids-list ol{
    list-style-type:decimal;
    margin-left: 20px;
 }
 .quesList-block__kids-list li{
     line-height: 24px;
     font-size: 18px;
 }
 .quesList-block__kids-list li a{
     color: var(--accent-color);
     font-weight: 300;
     padding-left: 5px;
 }
 .quesList-block__kids-list li a:hover{
    text-decoration: underline;
}
 .quesList-block__btns{
     padding-top: 25px;
 }
 .quesList-block__btns a{
    color:var(--purple-color);
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
 }
 .quesList-block__btns a:hover{
     text-decoration: underline;
 }
 .quesList-block__btns .main-btn__gra{
     padding:  0 30px;
 }
 .quesList-block{
     padding-bottom: 20px;
     border-bottom: 3px solid #9595c3;
 }
 .popup-quest{
     position: fixed;
     background: rgba(0,0,0,0.3);
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: center;
     align-items:center;
     display: none;
 }
.popup-quest__wrap{
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    position: relative;

}
.popup-quest__form{
    width: 900px;
}
.input__quest-title{
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: none;
    border-bottom: 2px solid var(--accent-color);
    width: 40%;
}
.quest__textarea{
    width: 100%;
    resize: none;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    padding: 10px;
}
.popup-quest__textarea{
    padding-top: 20px;
}
.popup__quest-exit svg{
    position: absolute;
    width: 30px;
    fill: var(--accent-color);
    top: 10px;
    right: 15px;
}
.popup__quest-exit{
    cursor: pointer;
}
.questControlBtn{
    padding-top: 20px;
}
.questControlBtn .main-btn__gra{
    padding: 0 30px;
}
.popup__quest-title h2{
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 17px;
}
.popup__quest-kids{
    width: 100%;
    min-height: 180px;
    margin-top: 20px;
    
}
.popup__quest-kids-block{
    height: 38px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 19px;
    border-bottom: 2px solid var(--accent-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.popup__quest-kids-block svg{
    width: 20px;
    margin-right: 15px;
    fill: white;
}
.popup__quest-block-select{
    background: var(--main-grad);
    color: white;
    border-bottom: 2px solid black;
}
.popup__quest-kids-title{
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 7px;
}
.popup__quest-kids-id{
    display: none;
}
.quesList-block:not(:first-child){
    margin-top: 35px;
}